.SideBar
  .SideBar__LeftHeader
    .SideBar__LeftHeader--list
      .userName
        = current_user.name
      .iconList
        = link_to new_group_path, class: "fas fa-edit" do
          = icon('fas', 'fa-edit', class: "iconList-editn")
        = link_to edit_user_path(current_user), class: "fas fa-cog" do
          = icon('fas', 'fa-cog', class: "iconList-editn")
  .SideBar__GroupList
    - current_user.groups.each do |group|
      .SideBar__GroupList--Group
        = link_to group_messages_path(group), class: "Group-list-link" do
          .Groupname
            = group.name
          .Groupmessage
            = group.show_last_message
